﻿@page "/atributos"

<button @onclick="@AlteraEstado">Alterar Estado</button>
<br />

Disabled:
<input disabled="@Estado" />
<br />
Readonly:
<input readonly="@Estado" />
<br />
CheckBox checked:
<input type="checkbox" checked="@Estado" />
<br />

@code {
    public bool Estado { get; set; }
    private void AlteraEstado() => Estado = !Estado;
}
