﻿@page "/"

<h1>@Mensagem</h1>
<h2>@Saudacao()</h2>
<button @onclick="AtualizarMensagem">Atualizar mensagem</button>
<hr />

<input @bind="Mensagem"/>
@code {
    public string Mensagem { get; set; } = "Olá, Pedro!";
    private string Saudacao() => "Bem vindo ao Blazor!";
    private void AtualizarMensagem() => Mensagem = "Olá Blazor, bem vindo!";
}