﻿@page "/databinding"

<h3>DataBinding</h3>

<h1>@Nome</h1>

<hr />
<label>onChange</label>
<input @bind="Nome" />

<hr />
<label>onInput</label>
<input @bind-value="Nome" @bind-value:event="oninput"/>

@code {
    public string Nome { get; set; } = "Blazor";
}
