﻿@page "/evento1"
@inherits Evento1Base

<h3>Evento: Cores</h3>

<label>Dados: Pressione vogais para mudar a cor</label>
<input type="text" @onkeypress="@(e=> TeclaPressionada(e))" />
<hr />
<div style="background-color: @cor; padding: 50px;"></div>

