﻿@page "/"
@inject IRepositorio repo


<Tarefas tarefas="GetTarefas()" Titulo="Lista de Tarefas"/>

@code{
    

    List<Tarefa> tarefas = new List<Tarefa>();

    protected override void OnInitialized()
    {
        
        tarefas = repo.ObterTarefas();
    }

    private List<Tarefa> GetTarefas() => tarefas;
}