﻿@page "/retorno"
@inject NavigationManager navigation


<h3>Retorno</h3>

<button class="btn btn-primary" @onclick="@(() => navigation.NavigateTo("/welcome"))">Ir para /welcome</button>

@code {
   
}
