﻿@using W8lessLabs.Blazor.LocalFiles

<div>
    <label>@Label</label>
    <div>
        <button type="button" @onclick="SelecionarImagem">Selecionar Imagem</button>
        <FileSelect @ref="imagemSelecaoArquivo" Accept=".jpg,.jpeg,.png"></FileSelect>
    </div>
</div>

<div>
    @if (imagemBase64 != null)
    {
        <div>
            <div style="margin:10px;">
                <img src="data:image/jpeg;base64, @imagemBase64" style="width:150px;" />
            </div>
        </div>
    }
    @if (ImagemRemota != null)
    {
        <div>
            <div style="margin:10px;">
                <img src="data:image/jpeg;base64, @ImagemRemota" style="width:150px;" />
            </div>
        </div>
    }
</div>

@code {

    private void SelecionarImagem()
    {
        
        imagemSelecaoArquivo.SelectFiles(ImagemArquivoSelecionado);
    }

    async Task ImagemArquivoSelecionado(SelectedFile[] selectedFiles)
    {
        
        var selectedFile = selectedFiles.FirstOrDefault();
        using (var fileReader = imagemSelecaoArquivo.GetFileReader(selectedFile))
        {
            var imageBytes = await fileReader.GetFileBytesAsync();
            imagemBase64 = Convert.ToBase64String(imageBytes);
            await ImagemSelecionada.InvokeAsync(imagemBase64);
            ImagemRemota = null;
            StateHasChanged();
        }

    }


    [Parameter]
    public string Label { get; set; } = "Imagem";
    [Parameter]
    public string ImagemRemota { get; set; }
    [Parameter]
    public EventCallback<string> ImagemSelecionada { get; set; }

    string imagemBase64;
    FileSelect imagemSelecaoArquivo;
}
