﻿<AuthorizeView>
    <Authorized>
        Olá @context.User.Identity.Name
        <a href="logout" class="nav-link btn btn-link">Sair</a>
    </Authorized>
    <NotAuthorized>
        <a href="login" class="nav-link btn btn-link">Entrar</a>
        <a href="register" class="nav-link btn btn-link">Registrar</a>
    </NotAuthorized>
</AuthorizeView>