﻿<nav aria-label="Paginacao">
    <ul class="pagination justify-content-center">
        @foreach (var link in links)
        {
            <li @onclick="@(() => PaginaSelecionadaLink(link))"
            style="cursor:pointer;"
            class="page-item @(link.Enabled? null : "disabled") @(link.Active? "active" : null)">
                <span class="page-link" href="#">@link.Text</span>
            </li>
        }
    </ul>
</nav>


@code {
    protected override void OnParametersSet() => LoadPage();

    private void LoadPage()
    {
        links = new List<LinkModel>();

        //tratar link da pag anterior
        var isLinkPaginaAnteriorHabilitado = (PaginaAtual != 1);
        var paginaAnterior = (PaginaAtual - 1);

        links.Add(new LinkModel(paginaAnterior, isLinkPaginaAnteriorHabilitado, "Anterior"));

        //tratar link da pag especifica
        for (var i = 1; i <= QuantidadeTotalPaginas; i++)
        {
            if (i >= PaginaAtual - Raio && i <= PaginaAtual + Raio)
            {
                links.Add(new LinkModel(i)
                    {
                        Active = PaginaAtual == i
                    });
            }
        }

        //tratar o link para proxima pagina
        var isLinkProximaPaginaHabilitado = (PaginaAtual != QuantidadeTotalPaginas);
        var proximaPagina = (PaginaAtual + 1);

        links.Add(new LinkModel(proximaPagina, isLinkProximaPaginaHabilitado, "Próximo"));
    }

    private async Task PaginaSelecionadaLink(LinkModel link)
    {
        if (link.Page == PaginaAtual || !link.Enabled)
            return;

        PaginaAtual = link.Page;
        await PaginaSelecionada.InvokeAsync(link.Page);
    }

    List<LinkModel> links;
    [Parameter] public int PaginaAtual { get; set; } = 1;
    [Parameter] public int QuantidadeTotalPaginas { get; set; }
    [Parameter] public int Raio { get; set; } = 3;
    [Parameter] public EventCallback<int> PaginaSelecionada { get; set; }

    class LinkModel
    {
        public LinkModel(int page) : this(page, true)
        { }

        public LinkModel(int page, bool enabled) : this(page, enabled, page.ToString())
        { }

        public LinkModel(int page, bool enabled, string text)
        {
            Page = page;
            Enabled = enabled;
            Text = text;
        }

        public string Text { get; set; }
        public int Page { get; set; }
        public bool Enabled { get; set; } = true;
        public bool Active { get; set; } = false;
    }
}
