﻿@page "/login"
@inject HttpClient http
@inject NavigationManager navigation
@inject TokenAuthenticationProvider provider


<div class="container col-6">

    <Aviso Exibir="falhaLogin">
        <h4>@Mensagem</h4>
    </Aviso>


    <div class="card-body">
        <h3 class="card-title align-content-center">Login</h3>
        <EditForm Model="userInfo" OnValidSubmit="Logar">
            <DataAnnotationsValidator />

            <div class="form-control">
                <label class="form-label">E-mail</label>
                <InputText class="form-control" @bind-Value="userInfo.Email" />
                <ValidationMessage For="@(() => userInfo.Email)" />
                <br />
                <label class="form-label">Senha</label>
                <InputText type="password" class="form-control" @bind-Value="userInfo.Password" />
                <ValidationMessage For="@(() => userInfo.Password)" />
                <br />
                <button type="submit" class="btn btn-outline-info btn-sm form-control">Logar</button>
            </div>

        </EditForm>
    </div>

</div>

@code {

    async Task Logar()
    {
        try
        {
            var loginAsJson = JsonSerializer.Serialize(userInfo);
            var httpResponse = await http.PostAsync("api/account/login",
                        new StringContent(loginAsJson, Encoding.UTF8, "application/json"));

            if (httpResponse.IsSuccessStatusCode)
            {
                var responseAsString = await httpResponse.Content.ReadAsStringAsync();
                var loginResult = JsonSerializer.Deserialize<UserToken>(responseAsString,
                new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                await provider.Login(loginResult.Token);
                navigation.NavigateTo("/");
            }
            else
            {
                falhaLogin = true;
                Mensagem = $"Não foi possível realizar o login. (Erro: {httpResponse.StatusCode})";
            }
        }
        catch (Exception)
        {

            falhaLogin = true;
            Mensagem = "Não foi possível realizar o login para o usuário";
        }


    }

    private UserInfo userInfo = new UserInfo();
    bool falhaLogin = false;
    [Parameter] public string Mensagem { get; set; }
}
