﻿@page "/logout"
@inject NavigationManager navigation
@inject TokenAuthenticationProvider provider

<h4>Logout</h4>

<Aviso Exibir="Exibir">
    <h5>@Mensagem</h5>
</Aviso>

@code {
    protected async override Task OnInitializedAsync()
    {
        try
        {
            await provider.Logout();
            navigation.NavigateTo("/");
        }
        catch (Exception)
        {
            Exibir = true;
            Mensagem = "Não foi possível realizar o logout..";
        }
    }

    private bool Exibir = false;
    [Parameter] public string Mensagem { get; set; }
}
