﻿@page "/register"
@inject HttpClient http
@inject NavigationManager navigation

<h4>Registrar Novo Usuário</h4>

<Aviso Exibir="Exibir">
    <h5>@Mensagem</h5>
</Aviso>

<div class="card-body">
        <h3 class="card-title align-content-center">Complete os dados abaixo..</h3>
        <EditForm Model="userInfo" OnValidSubmit="Registrar">
            <DataAnnotationsValidator />

            <div class="form-control">
                <label class="form-label">E-mail</label>
                <InputText class="form-control" @bind-Value="userInfo.Email" />
                <ValidationMessage For="@(() => userInfo.Email)" />
                <br />
                <label class="form-label">Senha</label>
                <InputText type="password" class="form-control" @bind-Value="userInfo.Password" />
                <ValidationMessage For="@(() => userInfo.Password)" />
                <br />
                <button type="submit" class="btn btn-outline-info btn-sm form-control">Registrar</button>
            </div>

        </EditForm>
    </div>


@code {
    async Task Registrar()
    {
        try
        {
            var registerAsJson = JsonSerializer.Serialize(userInfo);
            var httpResponse = await http.PostAsync("api/account/register",
                        new StringContent(registerAsJson, Encoding.UTF8, "application/json"));

            if (!httpResponse.IsSuccessStatusCode)
            {
                Exibir = true;
                Mensagem = $"Não foi possível realizar o registro. (Erro: {httpResponse.StatusCode})";
            }
            else
            {
                navigation.NavigateTo("/login");
            }
        }
        catch (Exception)
        {
            Exibir = true;
            Mensagem = "Não foi possível realizar o registro do usuário..";
        }
    }

    private UserInfo userInfo = new UserInfo();
    private bool Exibir = false;
    [Parameter] public string Mensagem { get; set; }
}
