﻿@page "/produto/detalhe/{produtoid:int}"
@inject HttpClient http

<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="card" style="border:none;">
        <img src="data:image/jpge;base64,@produto.ImagemUrl" class="img-rounded"
             alt="@produto.Nome" width="300" height="300" />
        <div class="card-body">
            <h4 class="pull-right">@produto.Preco</h4>
            <h4 class="card-title">@produto.Nome</h4>
            <p class="card-text">@produto.Descricao</p>
        </div>
    </div>
</div>
<a href="/catalogo/@produto.CategoriaId" class="btn btn-outline-info">Voltar</a>


@code {
    protected async override Task OnParametersSetAsync() =>
        produto = await http.GetFromJsonAsync<Produto>($"api/produto/{produtoid}");

    Produto produto = new Produto();
    [Parameter] public int produtoid { get; set; }
}
