﻿@page "/catalogo"
@page "/catalogo/{categoriaid:int}"
@inject HttpClient http


<div class="form-group">
    <label form="categoria" class="form-label">Categorias</label>
    <select @onchange="CategoriaSelecionChanged" class="form-control">
        @if (categorias != null)
        {
            @foreach (var categoria in categorias)
            {
                <option value="@categoria.CategoriaId"
                    selected="@(categoria.CategoriaId == categoriaid ? true : false)">
                    @categoria.Nome
                </option>
            }
        }
    </select>
</div>
@if (produtos == null)
{
    <div class="alert alert-dark text-center">Carregando..</div>

}
else if (produtos.Count == 0)
{
    <div class="alert alert-dark text-center">Não existem produtos cadastrados..</div>
}
else
{
    <div class="row">
        @foreach (var produto in produtos)
        {
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="card" style="border:none;">
                    <img src="data:image/jpge;base64,@produto.ImagemUrl" class="img-rounded"
                 alt="@produto.Nome" width="180" height="180" />
                    <div class="card-body">
                        <h4 class="pull-right">@produto.Preco</h4>
                        <h4 class="card-title">@produto.Nome</h4>
                        <p class="card-text">@produto.Descricao</p>
                        <a href="produto/detalhe/@produto.ProdutoId">Detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
@code {

    protected async override Task OnParametersSetAsync()
    {
        categorias = await http.GetFromJsonAsync<List<Categoria>>("api/categoria/all");

        if (categoriaid == 0)
            codigoCategoria = categorias[0].CategoriaId;
        else
            codigoCategoria = categoriaid;

        await CarregaProdutos();

    }

    private async Task CarregaProdutos()
    {
        produtos = await http.GetFromJsonAsync<List<Produto>>($"api/produto/categorias/{codigoCategoria}");
        StateHasChanged();
    }

    private async void CategoriaSelecionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            codigoCategoria = id;
            await CarregaProdutos();
        }
    }

    List<Produto> produtos { get; set; }
    List<Categoria> categorias { get; set; }
    private int codigoCategoria;
    [Parameter] public int categoriaid { get; set; }
}
