﻿@page "/form1"



<div class="card" style="width: 50%;">
    <div class="card-body">
        <h1 class="card-title">Meu primeiro formulário Blazor</h1>
        <EditForm Model="@usuario" OnSubmit="@OnSubmitFormSub">
            @*OnInvalidSubmit="@InvalidFormSub"
                  OnValidSubmit="@ValidFormSub"*@
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label class="form-label" form="nome">Nome</label>
            <InputText class="form-control" id="nome" @bind-Value="usuario.Nome" />
            <ValidationMessage For="()=> usuario.Nome" /><br />
            <label class="form-label" form="email">E-mail</label>
            <InputText class="form-control" id="email" @bind-Value="usuario.Email" />
            <ValidationMessage For="()=> usuario.Email" /><br />
            <label class="form-label" form="idade">Idade</label>
            <InputNumber class="form-control" id="idade" @bind-Value="usuario.Idade" />
            <ValidationMessage For="()=> usuario.Idade" /><br />
            <input type="submit" value="Enviar" class="btn btn-outline-dark form-control" />
        </EditForm>
    </div>
</div>

@if (ultimoSubmit != null)
{
    <div class="alert alert-dark">@ultimoSubmit</div>
}


@code {
    Usuario usuario = new Usuario();
    private string ultimoSubmit;
    private void InvalidFormSub(EditContext editContext) => ultimoSubmit = $"OnInvalid exectuado - o form é valido? {editContext.Validate()}";
    private void ValidFormSub(EditContext editContext) => ultimoSubmit = $"OnValid exectuado - o form é valido? {editContext.Validate()}";

    private void OnSubmitFormSub(EditContext editContext)
    {
        bool isValid = editContext.Validate();
        ultimoSubmit = isValid ? "Válido" : "Inválido";
    }
}
