﻿@page "/"
@implements IDisposable

<h1>@Titulo</h1>
<h2>Renderizado as: @HoraRenderizacao</h2>

@code {
    public string Titulo { get; set; }
    public string HoraRenderizacao{ get; set; }

    protected override void OnInitialized()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Início: {HoraRenderizacao}");
        Titulo = "Olá.";
    }

    protected override void OnParametersSet()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"OnParametersSet: {HoraRenderizacao}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"OnAfetRender: {HoraRenderizacao}\nPrimeira vez: {firstRender}");
    }

    public void Dispose()
    {
        HoraRenderizacao = DateTime.Now.ToLongTimeString();
        Console.WriteLine($"Dispose: {HoraRenderizacao}");
    }
}