﻿<div class="alert alert-danger mt-4" role="alert">
    <span class="oi oi-circle-x mr2-" aria-hidden="true"></span>
    <strong>@Mensagem</strong>
</div>

<div>
    @if(Conteudo1 is null)
    {
        <div>
            teste
        </div>
    }
    else
    {
       @Conteudo1
    }

     @if(Conteudo2 is null)
    {
        <div>
            teste
        </div>
    }
    else
    {
       @Conteudo2
    }
</div>

@code {
    [Parameter] public string Mensagem { get; set; }
    [Parameter] public RenderFragment Conteudo1 { get; set; }
    [Parameter] public RenderFragment Conteudo2 { get; set; }
}
