﻿@if(@ExibirConfirmacao)
{
<div class="modal-backdrop show"></div>

<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display:block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Titulo</h5>
                <button type="button" @onclick="OnCancela" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="OnCancela" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" @onclick="OnConfirma" class="btn btn-danger">Remover</button>
            </div>
        </div>
    </div>
</div>
}




@code {
    [Parameter] public bool ExibirConfirmacao { get; set; } = false;
    [Parameter] public string Titulo { get; set; } = "Confirma exclusão ?";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnConfirma { get; set; }
    [Parameter] public EventCallback OnCancela { get; set; }

    public void Exibir() => ExibirConfirmacao = true;
    public void Ocultar() => ExibirConfirmacao = false;
}
