﻿@typeparam Titem

@if (ListaItem == null)
{
    if (Carregando == null)
    {
        <span style="color:blue">Carregando tarefas ..</span>
    }
    else
    {
        @Carregando
    }
}
else if (!ListaItem.Any())
{
    if (SemRegistro == null)
    {
        <div class="card">
            <div class="card-body">
                Cadastre novas tarefas!
            </div>
        </div>
    }
    else
    {
        @SemRegistro
    }
}
else
{
    foreach (var item in ListaItem)
    {
        <tr>
            @Lista(item)
        </tr>
    }
}

@code {
    [Parameter] public RenderFragment Carregando { get; set; }
    [Parameter] public RenderFragment SemRegistro { get; set; }
    [Parameter] public List<Titem> ListaItem { get; set; }
    [Parameter] public RenderFragment<Titem> Lista { get; set; }
}
