﻿@inject IJSRuntime js

<h1>@Titulo</h1>


<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Concluída?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ListaGenerica ListaItem="tarefas">
            <Lista Context="Tarefa">
                <TarefaIndividual Tarefa="Tarefa" RemoverTarefa="RemoveTarefa" />
            </Lista>
        </ListaGenerica>
    </tbody>
</table>

<Confirma @ref="confirmacao" OnCancela="CancelaConfirmacao" OnConfirma="RmvTarefaConfirmacao">
    <div>Deseja excluir a tarefa?</div>
</Confirma>


@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="Text" placeholder="Informe a tarefa .." @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar</button>
    </div>
}

@code {
    Confirma confirmacao;
    Tarefa tarefaRemover;
    [Parameter] public List<Tarefa> tarefas { get; set; }
    [Parameter] public string Titulo { get; set; }

    private async Task RemoveTarefa(Tarefa tarefa)
    {
        confirmacao.Exibir();
        tarefaRemover = tarefa;
        //var resultado = await js.InvokeAsync<bool>("confirm", "Deseja excluir a tarefa?");

        //if (resultado)
        //{
        //    tarefas.Remove(tarefas.First(x => x.ID == tarefa.ID));
        //    await js.InvokeAsync<object>("MostrarAlerta", "Tarefa excluida com sucesso");
        //}

    }

    void RmvTarefaConfirmacao()
    {
        tarefas.Remove(tarefaRemover);
        tarefaRemover = null;
        confirmacao.Ocultar();
    }

    void CancelaConfirmacao()
    {
        confirmacao.Ocultar();
        tarefaRemover = null;
    }

    static int totalTarefas = 0;
    private async void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
            tarefas.Add(new Tarefa()
                {
                    Descricao = novaTarefa,
                    DataCriacao = DateTime.Now,
                    ID = Guid.NewGuid()
                });

        novaTarefa = "";
        totalTarefas = tarefas.Count();
        //await js.InvokeVoidAsync("getTotalTarefas"); 
        await js.InvokeAsync<int>("getTotalTarefasInstancia", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public static Task<int> ObterTotalTarefas() => Task.FromResult(totalTarefas);

    [JSInvokable]
    public Task<int> ObterTotalTarefasInstancia() => Task.FromResult(totalTarefas);


    private string novaTarefa = "";
}
