﻿<td>@Tarefa.DataCriacao</td>
<td>@Tarefa.Descricao</td>
<td><input type="checkbox" @bind="@Tarefa.Concluida" />@(Tarefa.Concluida?" Sim":" Não")</td>
<td>
    <button class="btn btn-danger" @onclick="( ()=> RemoverTarefa.InvokeAsync(Tarefa) )"><i class="oi oi-trash"></i></button>
</td>

@code {
    [Parameter] public Tarefa Tarefa { get; set; }
    //Passagem um evento como parametro
    [Parameter] public EventCallback<Tarefa> RemoverTarefa { get; set; }
}
