﻿@page "/"
@inject ILocalStorageService localStorage

<h1>Minhas notas pessoais</h1>

<textarea @bind="personalNotes"/>
<br />
<button @onclick="AtualizaLocalStorage">Atualizar Local Storage</button>
<button @onclick="LimparLocalStorage">Limpar Local Storage</button>
@code{
    string personalNotes;
    const string keyNotes = "1a2b3c";

    protected override async Task OnInitializedAsync() => personalNotes = await localStorage.GetItemAsync<string>(keyNotes);
    public async void AtualizaLocalStorage() => await localStorage.SetItemAsync(keyNotes, personalNotes);
    public async void LimparLocalStorage()
    {
        personalNotes = "";
        await localStorage.ClearAsync();        
    }
}