﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Calculando..</h1>
<h1>20 + 10 = @Calculo.Somar(20,10)</h1>
<h1>20 - 10 = @Calculo.Subtrair(20,10)</h1>
<h1>20 * 10 = @Calculo.Multiplicar(20,10)</h1>
<h1>20 / 10 = @Calculo.Dividir(20,10)</h1>

<hr />

<h1>Bebida</h1>
<div>
    <h2>Nome: @CocaCola.Nome</h2>
    <h2>Data cadastrada: @CocaCola.DataCadastro.ToString("dd MM yyyy")</h2>
</div>

<hr />

<h1>Bebidas</h1>
<ol>
    @foreach (var produto in produtos)
    {
        <li>
            @if (produto.Nome.Contains("Laranja"))
            {
                <h2 class="bold">*Fanta Laranja com desconto!*</h2>
            }

            <h2>Nome: @produto.Nome</h2>
            <h2>Data cadastrada: @produto.DataCadastro.ToString("dd MM yyyy")</h2>
        </li>
    }
</ol>

<hr />

<h1>Bebidas - ordem</h1>
<ul>
    @for (var i = 0; i < produtos.Count; i++)
    {
        <li>
            @if (i == produtos.Count - 1)
            {
                <h2>Último produto!</h2>
            }
            <h2>@(i+1)°</h2>
            <h2>Nome: @produtos[i].Nome</h2>
            <h2>Data cadastrada: @produtos[i].DataCadastro.ToString("dd MM yyyy")</h2>
        </li>
    }
</ul>

@switch (dia)
{
    case DayOfWeek.Sunday:
        msg = "Domingo!";
        break;
    case DayOfWeek.Monday:
        msg = "Segunda-feira!";
        break;
    case DayOfWeek.Tuesday:
        msg = "Terça-feira!";
        break;
    case DayOfWeek.Wednesday:
        msg = "Quarta-feira!";
        break;
    case DayOfWeek.Thursday:
        msg = "Quinta-feira!";
        break;
    case DayOfWeek.Friday:
        msg = "Sexta-feira!";
        break;
    case DayOfWeek.Saturday:
        msg = "Sábado!";
        break;
    default:
        msg = "Ué?";
        break;
}
<p>@msg</p>

@code {

    private List<Produto> getProdutos() => new List<Produto>()
    {
        new Produto()
        {
            Nome = "Fanta Uva",
            DataCadastro = DateTime.Now
        },
        new Produto()
        {
            Nome = "Fanta Laranja",
            DataCadastro = DateTime.Now
        },
        new Produto()
        {
            Nome = "Guaraná",
            DataCadastro = DateTime.Now
        }
    };

    private Produto getProduto() => new Produto()
        {
            Nome = "CocaCola Zero",
            DataCadastro = DateTime.Now
        };

    public Produto CocaCola { get { return getProduto(); } }
    public List<Produto> produtos { get { return getProdutos(); } }
    public DayOfWeek dia = DateTime.Today.DayOfWeek;
    public string msg = "";
}