﻿@page "/user"

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h1 class="card-title">Formulário do Exercício</h1>
        
       <EditForm Model="@usuario" OnInvalidSubmit="@InvalidFormSub" OnValidSubmit="@ValidFormSub">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <label class="form-label" form="nome">Nome</label>
            <InputText class="form-control" id="nome" @bind-Value="usuario.Nome" />
            <ValidationMessage For="()=> usuario.Nome" /><br />
            <label class="form-label" form="sobrenome">Sobrenome</label>
            <InputText class="form-control" id="sobrenome" @bind-Value="usuario.Sobrenome" />
            <ValidationMessage For="()=> usuario.Sobrenome" /><br />
            <label class="form-label" form="email">E-mail</label>
            <InputText class="form-control" id="email" @bind-Value="usuario.Email" />
            <ValidationMessage For="()=> usuario.Email" /><br />
            <label class="form-label" form="idade">Idade</label>
            <InputNumber class="form-control" id="idade" @bind-Value="usuario.Idade" />

            <ValidationMessage For="()=> usuario.Idade" /><br />
            <hr />

            <label class="form-label" form="login">Login</label>
            <InputText class="form-control" id="idade" @bind-Value="usuario.Login" />
            <ValidationMessage For="()=> usuario.Login" /><br />
            <label class="form-label" form="password">Senha</label>
            <InputText type="password" class="form-control" id="idade" @bind-Value="usuario.Password" />
            <ValidationMessage For="()=> usuario.Password" /><br />
            <label class="form-label" form="passwordConfirm">Confirmar senha</label>
            <InputText type="password" class="form-control" id="passwordConfirm" @bind-Value="usuario.ConfirmPassword" />
            <ValidationMessage For="()=> usuario.ConfirmPassword" /><br />

            <label class="form-label" form="perfil">Perfil</label>
            <InputSelect class="form-control" id="perfil" @bind-Value="usuario.Perfil" >
                <option value="" selected></option>
                <option value="Admin">ADMINISTRADOR</option>
                <option value="User">PADRÃO</option>
            </InputSelect>
            <ValidationMessage For="()=> usuario.Perfil" /><br />

            <input type="submit" value="Enviar" class="btn btn-outline-dark form-control" />

            @if(statusSubmit != null)
            {
                <hr />
                <div class="alert alert-dark">@statusSubmit</div>
            }
        </EditForm>
    </div>
</div>

@code {
    Usuario usuario { get; set; } = new Usuario();
    private string statusSubmit;
    private void ValidFormSub(EditContext editContext) => statusSubmit = $"OnValid -> status: {editContext.Validate()}";
    private void InvalidFormSub(EditContext editContext) => statusSubmit = $"OnInvalid -> status: {editContext.Validate()}";
}
