﻿@page "/"

<PageTitle>Catalogo de Produtos</PageTitle>

<h1>Catalogo de Produtos</h1>

@*<AuthorizeView>
    <Authorized>
        <h2>Olá, @context.User.Identity.Name</h2><br />
        @if (@context.User.IsInRole("Admin"))
        {
            <p>Administrador</p>
        }
    </Authorized>
    <NotAuthorized>
        <h2>Usuário não autorizado, faça login para continuar.</h2>
    </NotAuthorized>
</AuthorizeView>*@

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"Bem vindo {user.Identity.Name}");
            if (user.IsInRole("Admin"))
                Console.WriteLine("Administrador!");
        }
        else
        {
             Console.WriteLine("Usuário não autenticado!");
        }

    }
}