﻿@page "/counter"

<div style="background-color: @config.CorDeFundo">

    <PageTitle>Counter</PageTitle>

    <p style="font-size: @config.TamanhoDaFonte">Counter</p>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

</div>

<div style="display:flex">
    Selecione a cor
    <div style="width: 150px">
        <select @bind="config.CorDeFundo" class="form-control" style="margin-top: 15px">
            <option value="green">Verde</option>
            <option value="white">Branco</option>
            <option value="red">Vermelho</option>
            <option value="orange">Laranja</option>
        </select>
    </div>

    Selecione o tamanho da fonte (px)
    <div style="width: 150px">
        <select @bind="config.TamanhoDaFonte" class="form-control" style="margin-top: 15px">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
            <option value="80">80</option>
        </select>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

@code {
    [CascadingParameter] Config config { get; set; }
}