﻿<h3>Home</h3>

    <h4>@Titulo</h4>
    <img @attributes="ParametrosAdicionais"/>

@code {
    [Parameter] 
    public string Titulo { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] 
    public Dictionary<string, object> ParametrosAdicionais { get; set; }
}
