﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<CascadingValue Value="@Resposta">
    <Pergunta></Pergunta>
</CascadingValue>

<hr />

<Home Titulo="Imagem?" @attributes="Parameters"></Home>

@code {
    string Resposta = "é dois!";
    public Dictionary<string, object> Parameters { get; set; } =
    new Dictionary<string, object>
    {
        {"src","imagens/EX003-VERSO.jpeg"},
        {"class","img-fluid"},
        {"height", 100},
        {"width", 700}
    };
}
