﻿@page "/produtos/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h3>Novo Produto</h3>

<ProdutoForm Produto="@produto" ValidSubmitForm="@ValidSubmitForm"/>

@code {
    //protected async override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //        await Focus("txtProdutoNome");
    //}

    private async Task Focus(String elementId) => await js.InvokeVoidAsync("focusById", elementId);

    async Task ValidSubmitForm()
    {
        
        await http.PostAsJsonAsync("api/produto", produto);
        
        navigation.NavigateTo("/produtos");
    }

    Produto produto = new Produto();
}
