﻿@page "/produtos/edit/{produtoid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Editar Produto</h2>

<ProdutoForm Produto="@produto" ValidSubmitForm="@ValidSubmitForm" ImagemRemota="@imagemRemota"></ProdutoForm>

@code {
    [Parameter] public int produtoid { get; set; }
    private string imagemRemota { get; set; }

    Produto produto = new Produto();

    protected async override Task OnParametersSetAsync()
    {
        produto = await http.GetFromJsonAsync<Produto>($"api/produto/{produtoid}");
        imagemRemota = produto.ImagemUrl;
    } 

    async Task ValidSubmitForm()
    {
        imagemRemota = null;
        await http.PutAsJsonAsync("api/produto", produto);
        navigation.NavigateTo("/produtos");
    }
}
