﻿@page "/produtos"
@using Catalogo_Blazor.Client.Pages.Categoria
@inject HttpClient http
@inject NavigationManager navigation
@using System.Text.Json
@attribute [Authorize]

<h2>Produtos</h2>
<AuthorizeView Roles="Admin">
    <Authorized>
        <div>
            <a class="btn btn-outline-success" href="produtos/create"><i class="oi oi-plus"></i> &nbsp; Novo Produto</a>
        </div>
        <br />
    </Authorized>
    <NotAuthorized>
        <h2>Somente administradores podem incluir um produto..</h2>
    </NotAuthorized>
</AuthorizeView>


<div class="row g-3 align-items-center">

    <div class="col-auto">
        <input type="text"
               @bind="nomeFiltro"
               id="search" style="width: 250px;" placeholder="Digite o nome do produto.." class="form-control">
    </div>
    <div class="col-auto">
        <button type="button"
                @onclick="Filtrar"
                class="btn btn-outline-primary mr-sm-2 mb-2">
            <i class="oi oi-magnifying-glass"></i>&nbsp; Procurar
        </button>
    </div>
    <div class="col-auto">
        <button type="button"
                @onclick="LimparFiltro"
                class="btn btn-outline-warning mb-2">
            <i class="oi oi-x"></i>&nbsp; Limpar
        </button>
    </div>
</div>

<br />



@if (produtos == null)
{
    <div class="alert alert-dark text-center">Carregando..</div>

}
else if (produtos.Count == 0)
{
    <div class="alert alert-dark text-center">Não existem produtos cadastrados..</div>
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
                    <th>@produto.Nome</th>
                    <th>@produto.Descricao</th>
                    <th>@produto.Preco</th>
                    <th>
                        <a class="btn btn-outline-warning" href="/produtos/edit/@produto.ProdutoId">
                            <i class="oi oi-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger ml-3" @onclick="( () => Delete(produto.ProdutoId) )">
                            <i class="oi oi-trash"></i>
                        </a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}

<Confirm @ref="confirma" OnCancela="@CancelConfirm" OnConfirma="@AcceptConfirm">
    <div>Deseja realmente excluir este item?</div>
</Confirm>

<Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" PaginaAtual="PaginaAtual"
           Raio="2" PaginaSelecionada="PaginaSelecionada" />



@code {
    protected override async Task OnInitializedAsync() => await CarregaProdutos();
    void Delete(int produtoId)
    {
        confirma.Exibir();
        codigoProduto = produtoId;
    }

    void CancelConfirm() => confirma.Ocultar();

    async Task AcceptConfirm()
    {
        await http.DeleteAsync($"api/produto/{codigoProduto}");
        confirma.Ocultar();
        await CarregaProdutos();
    }

    async Task CarregaProdutos(int pagina = 1, int quantidadePorPagina = 5)
    {
        var httpResponse = await http.GetAsync($"api/produto?pagina={pagina}&quantidadePorPagina={quantidadePorPagina}&nome={nomeFiltro}");

        if (httpResponse.IsSuccessStatusCode)
        {
            QuantidadeTotalPaginas = int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

            var responseString = await httpResponse.Content.ReadAsStringAsync();
            produtos = JsonSerializer.Deserialize<List<Produto>>(responseString,
                new JsonSerializerOptions()
                    {
                        PropertyNameCaseInsensitive = true
                    });
        }
    }

    private async Task PaginaSelecionada(int pagina)
    {
        PaginaAtual = pagina;
        await CarregaProdutos(pagina);
    }

    private async Task Filtrar()
    {
        PaginaAtual = 1;
        await CarregaProdutos();

    }

    private async Task LimparFiltro()
    {
        nomeFiltro = string.Empty;
        PaginaAtual = 1;
        await CarregaProdutos();
    }

    public List<Produto> produtos { get; set; }
    Confirm confirma = new Confirm();
    int codigoProduto;
    private int QuantidadeTotalPaginas;
    private int PaginaAtual = 1;
    private string nomeFiltro = "";

}
