﻿@inject HttpClient http

<EditForm Model="@Produto" OnValidSubmit="@ValidSubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

     <div class="form-group">
        <label form="nome" class="form-label">Nome</label>
        <InputText id="txtProdutoNome" @bind-Value="@Produto.Nome" class="form-control" />
        <ValidationMessage For="() => Produto.Nome" />
    </div>
    <br />
    <div class="form-group">
        <label form="descricao" class="form-label">Descrição</label>
        <InputText @bind-Value="@Produto.Descricao" class="form-control" />
        <ValidationMessage For="() => Produto.Descricao" />
    </div>
    <br />
     <div class="form-group">
        <label form="preco" class="form-label">Preço</label>
        <InputNumber @bind-Value="@Produto.Preco" class="form-control" />
        <ValidationMessage For="() => Produto.Preco" />
    </div>
    <br />
     <div class="form-group">
        <label form="categoria" class="form-label">Categoria</label>
        <select @onchange="CategoriaSelecionChanged" class="form-control">
            @if(categorias != null)
            {
                @foreach (var categoria in categorias)
               {
                   <option value="@categoria.CategoriaId" selected="@(categoria.CategoriaId == Produto.CategoriaId ? true : false)">@categoria.Nome</option>
               }
            }
        </select>


        <ValidationMessage For="() => Produto.CategoriaId" />
    </div>
    <br />
     <div class="form-group">
        
        <InputImagem Label="Imagem" ImagemSelecionada="ImagemSelecionada" ImagemRemota="@ImagemRemota">

        </InputImagem>
    </div>
    <br />

    <button type="submit" class="btn btn-outline-success">Salvar</button>
    <button @onclick="@( ()=> navigation.NavigateTo("produtos") )" class="btn btn-outline-danger">Cancelar</button>


</EditForm>

@code {
    protected async override Task OnInitializedAsync() => await CarregaCategorias();
    private async Task CarregaCategorias()
    {
        categorias = await http.GetFromJsonAsync<List<Categoria>>($"api/categoria/all");
    }

    private void CategoriaSelecionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            Produto.CategoriaId = id;
        }
    }

    private void ImagemSelecionada(string imagemBase64)
    {
        Produto.ImagemUrl = imagemBase64;
        ImagemRemota = null;
        Produto.CategoriaId = categorias[0].CategoriaId;
    }

    [Parameter]
    public string ImagemRemota{ get; set; }

    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Produto Produto { get; set; }

    [Parameter]
    public EventCallback ValidSubmitForm { get; set; }

    private List<Categoria> categorias;
}
