﻿@page "/"

@* Comentário Razor *@
<h1>Olá, @nome.ToLower()</h1>
<h1>Data e Hora: @DateTime.Today</h1>
<h1>Dia da semana: @data.ToUpper()</h1>

<hr />
<h1>@Saudacao(nome)</h1>

<hr />
<h1> 2 + 2 = @(2 + 2)</h1>

<hr />
<button @onclick = "@TrataClique">Clique aqui</button>


@code{
    //Comentário C#
    string nome = "Pedro Prado";
    private string data = DateTime.Now.DayOfWeek.ToString();

    private string Saudacao(string nome) => $"Bem vindo {nome.ToUpper()}";
    private void TrataClique() => Console.WriteLine("Clicou!!");

}
