﻿

<EditForm Model="@Categoria" OnValidSubmit="@ValidSubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label form="nome" class="form-label">Nome</label>
        <InputText id="txtCategoriaNome" @bind-Value="@Categoria.Nome" class="form-control" />
        <ValidationMessage For="() => Categoria.Nome" />
    </div>
    <br />
    <div class="form-group">
        <label form="descricao" class="form-label">Descrição</label>
        <InputText @bind-Value="@Categoria.Descricao" class="form-control" />
        <ValidationMessage For="() => Categoria.Descricao" />
    </div>
    <br />
    <button type="submit" class="btn btn-outline-success">Salvar</button>
    <button @onclick="@( ()=> navigation.NavigateTo("categorias") )" class="btn btn-outline-danger">Cancelar</button>
</EditForm>


@code {
    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Categoria Categoria { get; set; }

    [Parameter]
    public EventCallback ValidSubmitForm { get; set; }

}
