﻿@page "/categorias/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h3>Nova Categoria</h3>

<CategoriaForm Categoria="@categoria" ValidSubmitForm="@ValidSubmitForm"/>

@code {
    //protected async override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //        await Focus("txtCategoriaNome");
    //}

    private async Task Focus(String elementId) => await js.InvokeVoidAsync("focusById", elementId);

    async Task ValidSubmitForm()
    {
        await http.PostAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("/categorias");
    }

    Categoria categoria = new Categoria();
}
