﻿@page "/categorias/edit/{categoriaid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h3>Editar Categoria</h3>

<CategoriaForm Categoria="@categoria" ValidSubmitForm="@ValidSubmitForm"/>


@code {
    protected override async Task OnParametersSetAsync() => categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{CategoriaId}");
    private async Task ValidSubmitForm()
    {
        await http.PutAsJsonAsync("api/categoria", categoria);
        navigation.NavigateTo("/categorias");
    }

    [Parameter]
    public int CategoriaId { get; set; }
    Categoria categoria = new Categoria();
}
