﻿@page "/categorias"
@inject HttpClient http
@using System.Text.Json
<AuthorizeView>
    <Authorized>
        <h2>Categorias</h2>

        <div>
            <a class="btn btn-outline-success" href="categorias/create"><i class="oi oi-plus"></i> &nbsp; Nova Categoria</a>
        </div>
        <br />
        <div class="row g-3 align-items-center">

            <div class="col-auto">
                <input type="text"
                       @bind="nomeFiltro"
                       id="search" style="width: 250px;" placeholder="Digite o nome da categoria.." class="form-control">
            </div>
            <div class="col-auto">
                <button type="button"
                        @onclick="Filtrar"
                        class="btn btn-outline-primary mr-sm-2 mb-2">
                    <i class="oi oi-magnifying-glass"></i>&nbsp; Procurar
                </button>
            </div>
            <div class="col-auto">
                <button type="button"
                        @onclick="LimparFiltro"
                        class="btn btn-outline-warning mb-2">
                    <i class="oi oi-x"></i>&nbsp; Limpar
                </button>
            </div>
        </div>

        <br />



        @if (categorias == null)
        {
            <div class="alert alert-dark text-center">Carregando..</div>

        }
        else if (categorias.Count == 0)
        {
            <div class="alert alert-dark text-center">Não existem categorias cadastradas..</div>
        }
        else
        {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in categorias)
                    {
                        <tr>
                            <th>@categoria.Nome</th>
                            <th>@categoria.Descricao</th>
                            <th>
                                <a class="btn btn-outline-warning" href="/categorias/edit/@categoria.CategoriaId">
                                    <i class="oi oi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-danger ml-3" @onclick="( () => Delete(categoria.CategoriaId) )">
                                    <i class="oi oi-trash"></i>
                                </a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <Confirm @ref="confirma" OnCancela="@CancelConfirm" OnConfirma="@AcceptConfirm">
            <div>Deseja realmente excluir este item?</div>
        </Confirm>

        <Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" PaginaAtual="PaginaAtual"
                   Raio="2" PaginaSelecionada="PaginaSelecionada" />


    </Authorized>
    <NotAuthorized>
        <h1>Usuário não autorizado.. Faça login para continuar</h1>
    </NotAuthorized>
</AuthorizeView>
@code {
    protected override async Task OnInitializedAsync() => await CarregaCategorias();
    void Delete(int categoriaid)
    {
        confirma.Exibir();
        codigoCategoria = categoriaid;
    }

    void CancelConfirm() => confirma.Ocultar();

    async Task AcceptConfirm()
    {
        await http.DeleteAsync($"api/categoria/{codigoCategoria}");
        confirma.Ocultar();
        await CarregaCategorias();
    }

    async Task CarregaCategorias(int pagina = 1, int quantidadePorPagina = 5)
    {
        var httpResponse = await http.GetAsync($"api/categoria?pagina={pagina}&quantidadePorPagina={quantidadePorPagina}&nome={nomeFiltro}");

        if (httpResponse.IsSuccessStatusCode)
        {
            QuantidadeTotalPaginas = int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

            var responseString = await httpResponse.Content.ReadAsStringAsync();
            categorias = JsonSerializer.Deserialize<List<Categoria>>(responseString,
                new JsonSerializerOptions()
                    {
                        PropertyNameCaseInsensitive = true
                    });
        }
    }

    private async Task PaginaSelecionada(int pagina)
    {
        PaginaAtual = pagina;
        await CarregaCategorias(pagina);
    }

    private async Task Filtrar()
    {
        PaginaAtual = 1;
        await CarregaCategorias();

    }

    private async Task LimparFiltro()
    {
        nomeFiltro = string.Empty;
        PaginaAtual = 1;
        await CarregaCategorias();
    }

    public List<Categoria> categorias { get; set; }
    Confirm confirma = new Confirm();
    int codigoCategoria;
    private int QuantidadeTotalPaginas;
    private int PaginaAtual = 1;
    private string nomeFiltro = "";
}
