﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp_RCL_DEMO.Data
@inject WeatherForecastService ForecastService

<h1>
    <Aviso Exibir="Exibir">
        @Mensagem
    </Aviso>
</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MeuGrid itens="@forecasts">
        <Cabecalho>
            <th>Data</th>
            <th>Temperatura (°C)</th>
            <th>Resumo</th>
        </Cabecalho>
        <Linha Context="forecast">
            <td>@forecast.Date</td>
            <td align="center">@forecast.TemperatureC</td>
            <td>@forecast.Summary</td>
        </Linha>
        <Rodape>
            <td colspan="3">
                <Aviso Exibir="@Exibir">
                    @Mensagem
                </Aviso>
            </td>
        </Rodape>
    </MeuGrid>
}

@code {
    bool Exibir = true;
    [Parameter]
    public string Mensagem { get; set; } = "Previsão do tempo";

    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
